//
// position.scss
// Extended from Bootstrap
//

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-element {
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-animation: myOrbit 8s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: myOrbit 8s linear infinite; /* Firefox 5-15 */
         -o-animation: myOrbit 8s linear infinite; /* Opera 12+ */
            animation: myOrbit 8s linear infinite; /* Chrome, Firefox 16+, 
                                                      IE 10+, Safari 5 */

    @-webkit-keyframes myOrbit {
      from { -webkit-transform: rotate(0deg) translateX(237px) rotate(0deg); }
      to   { -webkit-transform: rotate(360deg) translateX(237px) rotate(-360deg); }
    }
    
    @-moz-keyframes myOrbit {
        from { -moz-transform: rotate(0deg) translateX(237px) rotate(0deg); }
        to   { -moz-transform: rotate(360deg) translateX(237px) rotate(-360deg); }
    }
    
    @-o-keyframes myOrbit {
        from { -o-transform: rotate(0deg) translateX(237px) rotate(0deg); }
        to   { -o-transform: rotate(360deg) translateX(237px) rotate(-360deg); }
    }
    
    @keyframes myOrbit {
        from { transform: rotate(0deg) translateX(237px) rotate(0deg); }
        to   { transform: rotate(360deg) translateX(237px) rotate(-360deg); }
    }
}

.circle-element:hover {
  animation-play-state: paused;
}

.content-section {
  display: true;
}
