//
// position.scss
// Extended from Bootstrap
//

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-element-0 {
    position: absolute;
    top: 40%;
    left: 42%;

    -webkit-animation: orbit1 60s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: orbit1 60s linear infinite; /* Firefox 5-15 */
         -o-animation: orbit1 60s linear infinite; /* Opera 12+ */
            animation: orbit1 60s linear infinite; /* Chrome, Firefox 16+, 
                                                      IE 10+, Safari 5 */

    @-webkit-keyframes orbit1 {
      from { -webkit-transform: rotate(0deg) translateX(217px) rotate(0deg); }
      to   { -webkit-transform: rotate(360deg) translateX(217px) rotate(-360deg); }
    }
    
    @-moz-keyframes orbit1 {
        from { -moz-transform: rotate(0deg) translateX(217px) rotate(0deg); }
        to   { -moz-transform: rotate(360deg) translateX(217px) rotate(-360deg); }
    }
    
    @-o-keyframes orbit1 {
        from { -o-transform: rotate(0deg) translateX(217px) rotate(0deg); }
        to   { -o-transform: rotate(360deg) translateX(217px) rotate(-360deg); }
    }
    
    @keyframes orbit1 {
        from { transform: rotate(0deg) translateX(217px) rotate(0deg); }
        to   { transform: rotate(360deg) translateX(217px) rotate(-360deg); }
    }
}

.circle-element-60 {
  position: absolute;
  top: 40%;
  left: 42%;

  -webkit-animation: orbit2 60s linear infinite; /* Chrome, Safari 5 */
     -moz-animation: orbit2 60s linear infinite; /* Firefox 5-15 */
       -o-animation: orbit2 60s linear infinite; /* Opera 12+ */
          animation: orbit2 60s linear infinite; /* Chrome, Firefox 16+, 
                                                    IE 10+, Safari 5 */

  @-webkit-keyframes orbit2 {
    from { -webkit-transform: rotate(60deg) translateX(217px) rotate(-60deg); }
    to   { -webkit-transform: rotate(420deg) translateX(217px) rotate(-420deg); }
  }
  
  @-moz-keyframes orbit2 {
      from { -moz-transform: rotate(60deg) translateX(217px) rotate(-60deg); }
      to   { -moz-transform: rotate(420deg) translateX(217px) rotate(-420deg); }
  }
  
  @-o-keyframes orbit2 {
      from { -o-transform: rotate(60deg) translateX(217px) rotate(-60deg); }
      to   { -o-transform: rotate(420deg) translateX(217px) rotate(-420deg); }
  }
  
  @keyframes orbit2 {
      from { transform: rotate(60deg) translateX(217px) rotate(-60deg); }
      to   { transform: rotate(420deg) translateX(217px) rotate(-420deg); }
  }
}

.circle-element-120 {
  position: absolute;
  top: 40%;
  left: 42%;

  -webkit-animation: orbit3 60s linear infinite; /* Chrome, Safari 5 */
     -moz-animation: orbit3 60s linear infinite; /* Firefox 5-15 */
       -o-animation: orbit3 60s linear infinite; /* Opera 12+ */
          animation: orbit3 60s linear infinite; /* Chrome, Firefox 16+, 
                                                    IE 10+, Safari 5 */

  @-webkit-keyframes orbit3 {
    from { -webkit-transform: rotate(120deg) translateX(217px) rotate(-120deg); }
    to   { -webkit-transform: rotate(480deg) translateX(217px) rotate(-480deg); }
  }
  
  @-moz-keyframes orbit3 {
      from { -moz-transform: rotate(120deg) translateX(217px) rotate(-120deg); }
      to   { -moz-transform: rotate(480deg) translateX(217px) rotate(-480deg); }
  }
  
  @-o-keyframes orbit3 {
      from { -o-transform: rotate(120deg) translateX(217px) rotate(-120deg); }
      to   { -o-transform: rotate(480deg) translateX(217px) rotate(-480deg); }
  }
  
  @keyframes orbit3 {
      from { transform: rotate(120deg) translateX(217px) rotate(-120deg); }
      to   { transform: rotate(480deg) translateX(217px) rotate(-480deg); }
  }
}

.circle-element-180 {
  position: absolute;
  top: 40%;
  left: 42%;

  -webkit-animation: orbit4 60s linear infinite; /* Chrome, Safari 5 */
     -moz-animation: orbit4 60s linear infinite; /* Firefox 5-15 */
       -o-animation: orbit4 60s linear infinite; /* Opera 12+ */
          animation: orbit4 60s linear infinite; /* Chrome, Firefox 16+, 
                                                    IE 10+, Safari 5 */

  @-webkit-keyframes orbit4 {
    from { -webkit-transform: rotate(180deg) translateX(217px) rotate(-180deg); }
    to   { -webkit-transform: rotate(540deg) translateX(217px) rotate(-540deg); }
  }
  
  @-moz-keyframes orbit4 {
      from { -moz-transform: rotate(180deg) translateX(217px) rotate(-180deg); }
      to   { -moz-transform: rotate(540deg) translateX(217px) rotate(-540deg); }
  }
  
  @-o-keyframes orbit4 {
      from { -o-transform: rotate(180deg) translateX(217px) rotate(-180deg); }
      to   { -o-transform: rotate(540deg) translateX(217px) rotate(-540deg); }
  }
  
  @keyframes orbit4 {
      from { transform: rotate(180deg) translateX(217px) rotate(-180deg); }
      to   { transform: rotate(540deg) translateX(217px) rotate(-540deg); }
  }
}

.circle-element-240 {
  position: absolute;
  top: 40%;
  left: 42%;

  -webkit-animation: orbit5 60s linear infinite; /* Chrome, Safari 5 */
     -moz-animation: orbit5 60s linear infinite; /* Firefox 5-15 */
       -o-animation: orbit5 60s linear infinite; /* Opera 12+ */
          animation: orbit5 60s linear infinite; /* Chrome, Firefox 16+, 
                                                    IE 10+, Safari 5 */

  @-webkit-keyframes orbit5 {
    from { -webkit-transform: rotate(240deg) translateX(217px) rotate(-240deg); }
    to   { -webkit-transform: rotate(600deg) translateX(217px) rotate(-600deg); }
  }
  
  @-moz-keyframes orbit5 {
      from { -moz-transform: rotate(240deg) translateX(217px) rotate(-240deg); }
      to   { -moz-transform: rotate(600deg) translateX(217px) rotate(-600deg); }
  }
  
  @-o-keyframes orbit5 {
      from { -o-transform: rotate(240deg) translateX(217px) rotate(-240deg); }
      to   { -o-transform: rotate(600deg) translateX(217px) rotate(-600deg); }
  }
  
  @keyframes orbit5 {
      from { transform: rotate(240deg) translateX(217px) rotate(-240deg); }
      to   { transform: rotate(600deg) translateX(217px) rotate(-600deg); }
  }
}

.circle-element-300 {
  position: absolute;
  top: 40%;
  left: 42%;

  -webkit-animation: orbit6 60s linear infinite; /* Chrome, Safari 5 */
     -moz-animation: orbit6 60s linear infinite; /* Firefox 5-15 */
       -o-animation: orbit6 60s linear infinite; /* Opera 12+ */
          animation: orbit6 60s linear infinite; /* Chrome, Firefox 16+, 
                                                    IE 10+, Safari 5 */

  @-webkit-keyframes orbit6 {
    from { -webkit-transform: rotate(300deg) translateX(217px) rotate(-300deg); }
    to   { -webkit-transform: rotate(660deg) translateX(217px) rotate(-660deg); }
  }
  
  @-moz-keyframes orbit6 {
      from { -moz-transform: rotate(300deg) translateX(217px) rotate(-300deg); }
      to   { -moz-transform: rotate(660deg) translateX(217px) rotate(-660deg); }
  }
  
  @-o-keyframes orbit6 {
      from { -o-transform: rotate(300deg) translateX(217px) rotate(-300deg); }
      to   { -o-transform: rotate(660deg) translateX(217px) rotate(-660deg); }
  }
  
  @keyframes orbit6 {
      from { transform: rotate(300deg) translateX(217px) rotate(-300deg); }
      to   { transform: rotate(660deg) translateX(217px) rotate(-660deg); }
  }
}



.open-section {
  display: true;
}
