<nav class="navbar navbar-expand-lg {{classList}}">
  <div class="{{container}}">

    <!-- Brand -->
    <a class="navbar-brand" href="{{webRoot}}/index.html">
      <img src="{{webRoot}}/assets/img/brand.svg" class="navbar-brand-img" alt="...">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarPages" href="#features" aria-haspopup="true" aria-expanded="false">
            Product
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarLandings" href="{{webRoot}}/about.html" aria-haspopup="true" aria-expanded="false">
            About Us
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarAccount" href="{{webRoot}}/investors.html" aria-haspopup="true" aria-expanded="false">
            Investors
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDocumentation" href="{{webRoot}}/blog.html" aria-haspopup="true" aria-expanded="false">
            News
          </a>
        </li>
      </ul>

      <!-- Button -->
      <a class="navbar-btn btn rounded-pill btn-sm btn-{{button}} lift ms-auto" href="{{webRoot}}/contact.html" style="background-color:#0A2841">
        Contact Us
      </a>

    </div>

  </div>
</nav>
