// 
// user.scss
// Use this to write your custom SCSS
//

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

:root {
    --bs-body-font-family: 'Assistant', sans-serif;
    
}

// ECOSYSTEM BACKGROUND

@media (min-width: 768px) {
    .ecosystem-background {
        background: transparent url('/assets/img/tbx/ecosystem/arrows.png') no-repeat center center;
    }
}

@media (min-width: 340px) and (max-width: 767px) {
    .ecosystem-background {
        background: transparent url('/assets/img/tbx/ecosystem/arrows_vertical.png') no-repeat center center;
    }
}

@media (min-width: 340px) and (max-width: 767px) {
    .circle-cloud {
        width: 90%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}


// ECOSYSTEM ORBITS


// ANGLE 0

@media (min-width: 768px) {
    .circle-element-0 {
        position: absolute;
        top: 40%;
        left: 42%;
    
        -webkit-animation: orbit1 60s linear infinite; /* Chrome, Safari 5 */
           -moz-animation: orbit1 60s linear infinite; /* Firefox 5-15 */
             -o-animation: orbit1 60s linear infinite; /* Opera 12+ */
                animation: orbit1 60s linear infinite; /* Chrome, Firefox 16+, 
                                                          IE 10+, Safari 5 */
    
        @-webkit-keyframes orbit1 {
          from { -webkit-transform: rotate(0deg) translateX(217px) rotate(0deg); }
          to   { -webkit-transform: rotate(360deg) translateX(217px) rotate(-360deg); }
        }
        
        @-moz-keyframes orbit1 {
            from { -moz-transform: rotate(0deg) translateX(217px) rotate(0deg); }
            to   { -moz-transform: rotate(360deg) translateX(217px) rotate(-360deg); }
        }
        
        @-o-keyframes orbit1 {
            from { -o-transform: rotate(0deg) translateX(217px) rotate(0deg); }
            to   { -o-transform: rotate(360deg) translateX(217px) rotate(-360deg); }
        }
        
        @keyframes orbit1 {
            from { transform: rotate(0deg) translateX(217px) rotate(0deg); }
            to   { transform: rotate(360deg) translateX(217px) rotate(-360deg); }
        }
    }
}

@media (min-width: 340px) and (max-width: 767px) {
    .circle-element-0 {
        position: absolute;
        top: 40%;
        left: 39%;
    
        -webkit-animation: orbit1 60s linear infinite; /* Chrome, Safari 5 */
           -moz-animation: orbit1 60s linear infinite; /* Firefox 5-15 */
             -o-animation: orbit1 60s linear infinite; /* Opera 12+ */
                animation: orbit1 60s linear infinite; /* Chrome, Firefox 16+, 
                                                          IE 10+, Safari 5 */
    
        @-webkit-keyframes orbit1 {
          from { -webkit-transform: rotate(0deg) translateX(146px) rotate(0deg); }
          to   { -webkit-transform: rotate(360deg) translateX(146px) rotate(-360deg); }
        }
        
        @-moz-keyframes orbit1 {
            from { -moz-transform: rotate(0deg) translateX(146px) rotate(0deg); }
            to   { -moz-transform: rotate(360deg) translateX(146px) rotate(-360deg); }
        }
        
        @-o-keyframes orbit1 {
            from { -o-transform: rotate(0deg) translateX(146px) rotate(0deg); }
            to   { -o-transform: rotate(360deg) translateX(146px) rotate(-360deg); }
        }
        
        @keyframes orbit1 {
            from { transform: rotate(0deg) translateX(146px) rotate(0deg); }
            to   { transform: rotate(360deg) translateX(146px) rotate(-360deg); }
        }
    }
}

// ANGLE 60
@media (min-width: 768px) {
    .circle-element-60 {
        position: absolute;
        top: 40%;
        left: 42%;
      
        -webkit-animation: orbit2 60s linear infinite; /* Chrome, Safari 5 */
           -moz-animation: orbit2 60s linear infinite; /* Firefox 5-15 */
             -o-animation: orbit2 60s linear infinite; /* Opera 12+ */
                animation: orbit2 60s linear infinite; /* Chrome, Firefox 16+, 
                                                          IE 10+, Safari 5 */
      
        @-webkit-keyframes orbit2 {
          from { -webkit-transform: rotate(60deg) translateX(217px) rotate(-60deg); }
          to   { -webkit-transform: rotate(420deg) translateX(217px) rotate(-420deg); }
        }
        
        @-moz-keyframes orbit2 {
            from { -moz-transform: rotate(60deg) translateX(217px) rotate(-60deg); }
            to   { -moz-transform: rotate(420deg) translateX(217px) rotate(-420deg); }
        }
        
        @-o-keyframes orbit2 {
            from { -o-transform: rotate(60deg) translateX(217px) rotate(-60deg); }
            to   { -o-transform: rotate(420deg) translateX(217px) rotate(-420deg); }
        }
        
        @keyframes orbit2 {
            from { transform: rotate(60deg) translateX(217px) rotate(-60deg); }
            to   { transform: rotate(420deg) translateX(217px) rotate(-420deg); }
        }
      }
}

@media (min-width: 340px) and (max-width: 767px) {
    .circle-element-60 {
        position: absolute;
        top: 40%;
        left: 39%;
      
        -webkit-animation: orbit2 60s linear infinite; /* Chrome, Safari 5 */
           -moz-animation: orbit2 60s linear infinite; /* Firefox 5-15 */
             -o-animation: orbit2 60s linear infinite; /* Opera 12+ */
                animation: orbit2 60s linear infinite; /* Chrome, Firefox 16+, 
                                                          IE 10+, Safari 5 */
      
        @-webkit-keyframes orbit2 {
          from { -webkit-transform: rotate(60deg) translateX(146px) rotate(-60deg); }
          to   { -webkit-transform: rotate(420deg) translateX(146px) rotate(-420deg); }
        }
        
        @-moz-keyframes orbit2 {
            from { -moz-transform: rotate(60deg) translateX(146px) rotate(-60deg); }
            to   { -moz-transform: rotate(420deg) translateX(146px) rotate(-420deg); }
        }
        
        @-o-keyframes orbit2 {
            from { -o-transform: rotate(60deg) translateX(146px) rotate(-60deg); }
            to   { -o-transform: rotate(420deg) translateX(146px) rotate(-420deg); }
        }
        
        @keyframes orbit2 {
            from { transform: rotate(60deg) translateX(146px) rotate(-60deg); }
            to   { transform: rotate(420deg) translateX(146px) rotate(-420deg); }
        }
      }
}

// ANGLE 120
@media (min-width: 768px) {
    .circle-element-120 {
        position: absolute;
        top: 40%;
        left: 42%;
      
        -webkit-animation: orbit3 60s linear infinite; /* Chrome, Safari 5 */
           -moz-animation: orbit3 60s linear infinite; /* Firefox 5-15 */
             -o-animation: orbit3 60s linear infinite; /* Opera 12+ */
                animation: orbit3 60s linear infinite; /* Chrome, Firefox 16+, 
                                                          IE 10+, Safari 5 */
      
        @-webkit-keyframes orbit3 {
          from { -webkit-transform: rotate(120deg) translateX(217px) rotate(-120deg); }
          to   { -webkit-transform: rotate(480deg) translateX(217px) rotate(-480deg); }
        }
        
        @-moz-keyframes orbit3 {
            from { -moz-transform: rotate(120deg) translateX(217px) rotate(-120deg); }
            to   { -moz-transform: rotate(480deg) translateX(217px) rotate(-480deg); }
        }
        
        @-o-keyframes orbit3 {
            from { -o-transform: rotate(120deg) translateX(217px) rotate(-120deg); }
            to   { -o-transform: rotate(480deg) translateX(217px) rotate(-480deg); }
        }
        
        @keyframes orbit3 {
            from { transform: rotate(120deg) translateX(217px) rotate(-120deg); }
            to   { transform: rotate(480deg) translateX(217px) rotate(-480deg); }
        }
      }
}

@media (min-width: 340px) and (max-width: 767px) {
    .circle-element-120 {
        position: absolute;
        top: 40%;
        left: 39%;
      
        -webkit-animation: orbit3 60s linear infinite; /* Chrome, Safari 5 */
           -moz-animation: orbit3 60s linear infinite; /* Firefox 5-15 */
             -o-animation: orbit3 60s linear infinite; /* Opera 12+ */
                animation: orbit3 60s linear infinite; /* Chrome, Firefox 16+, 
                                                          IE 10+, Safari 5 */
      
        @-webkit-keyframes orbit3 {
          from { -webkit-transform: rotate(120deg) translateX(146px) rotate(-120deg); }
          to   { -webkit-transform: rotate(480deg) translateX(146px) rotate(-480deg); }
        }
        
        @-moz-keyframes orbit3 {
            from { -moz-transform: rotate(120deg) translateX(146px) rotate(-120deg); }
            to   { -moz-transform: rotate(480deg) translateX(146px) rotate(-480deg); }
        }
        
        @-o-keyframes orbit3 {
            from { -o-transform: rotate(120deg) translateX(146px) rotate(-120deg); }
            to   { -o-transform: rotate(480deg) translateX(146px) rotate(-480deg); }
        }
        
        @keyframes orbit3 {
            from { transform: rotate(120deg) translateX(146px) rotate(-120deg); }
            to   { transform: rotate(480deg) translateX(146px) rotate(-480deg); }
        }
      }
}

// ANGLE 180
@media (min-width: 768px) {
    .circle-element-180 {
        position: absolute;
        top: 40%;
        left: 42%;
      
        -webkit-animation: orbit4 60s linear infinite; /* Chrome, Safari 5 */
           -moz-animation: orbit4 60s linear infinite; /* Firefox 5-15 */
             -o-animation: orbit4 60s linear infinite; /* Opera 12+ */
                animation: orbit4 60s linear infinite; /* Chrome, Firefox 16+, 
                                                          IE 10+, Safari 5 */
      
        @-webkit-keyframes orbit4 {
          from { -webkit-transform: rotate(180deg) translateX(217px) rotate(-180deg); }
          to   { -webkit-transform: rotate(540deg) translateX(217px) rotate(-540deg); }
        }
        
        @-moz-keyframes orbit4 {
            from { -moz-transform: rotate(180deg) translateX(217px) rotate(-180deg); }
            to   { -moz-transform: rotate(540deg) translateX(217px) rotate(-540deg); }
        }
        
        @-o-keyframes orbit4 {
            from { -o-transform: rotate(180deg) translateX(217px) rotate(-180deg); }
            to   { -o-transform: rotate(540deg) translateX(217px) rotate(-540deg); }
        }
        
        @keyframes orbit4 {
            from { transform: rotate(180deg) translateX(217px) rotate(-180deg); }
            to   { transform: rotate(540deg) translateX(217px) rotate(-540deg); }
        }
      }
}

@media (min-width: 340px) and (max-width: 767px) {
    .circle-element-180 {
        position: absolute;
        top: 40%;
        left: 39%;
      
        -webkit-animation: orbit4 60s linear infinite; /* Chrome, Safari 5 */
           -moz-animation: orbit4 60s linear infinite; /* Firefox 5-15 */
             -o-animation: orbit4 60s linear infinite; /* Opera 12+ */
                animation: orbit4 60s linear infinite; /* Chrome, Firefox 16+, 
                                                          IE 10+, Safari 5 */
      
        @-webkit-keyframes orbit4 {
          from { -webkit-transform: rotate(180deg) translateX(146px) rotate(-180deg); }
          to   { -webkit-transform: rotate(540deg) translateX(146px) rotate(-540deg); }
        }
        
        @-moz-keyframes orbit4 {
            from { -moz-transform: rotate(180deg) translateX(146px) rotate(-180deg); }
            to   { -moz-transform: rotate(540deg) translateX(146px) rotate(-540deg); }
        }
        
        @-o-keyframes orbit4 {
            from { -o-transform: rotate(180deg) translateX(146px) rotate(-180deg); }
            to   { -o-transform: rotate(540deg) translateX(146px) rotate(-540deg); }
        }
        
        @keyframes orbit4 {
            from { transform: rotate(180deg) translateX(146px) rotate(-180deg); }
            to   { transform: rotate(540deg) translateX(146px) rotate(-540deg); }
        }
      }
}

// ANGLE 240
@media (min-width: 768px) {
    .circle-element-240 {
        position: absolute;
        top: 40%;
        left: 42%;
      
        -webkit-animation: orbit5 60s linear infinite; /* Chrome, Safari 5 */
           -moz-animation: orbit5 60s linear infinite; /* Firefox 5-15 */
             -o-animation: orbit5 60s linear infinite; /* Opera 12+ */
                animation: orbit5 60s linear infinite; /* Chrome, Firefox 16+, 
                                                          IE 10+, Safari 5 */
      
        @-webkit-keyframes orbit5 {
          from { -webkit-transform: rotate(240deg) translateX(217px) rotate(-240deg); }
          to   { -webkit-transform: rotate(600deg) translateX(217px) rotate(-600deg); }
        }
        
        @-moz-keyframes orbit5 {
            from { -moz-transform: rotate(240deg) translateX(217px) rotate(-240deg); }
            to   { -moz-transform: rotate(600deg) translateX(217px) rotate(-600deg); }
        }
        
        @-o-keyframes orbit5 {
            from { -o-transform: rotate(240deg) translateX(217px) rotate(-240deg); }
            to   { -o-transform: rotate(600deg) translateX(217px) rotate(-600deg); }
        }
        
        @keyframes orbit5 {
            from { transform: rotate(240deg) translateX(217px) rotate(-240deg); }
            to   { transform: rotate(600deg) translateX(217px) rotate(-600deg); }
        }
      }
}

@media (min-width: 340px) and (max-width: 767px) {
    .circle-element-240 {
        position: absolute;
        top: 40%;
        left: 39%;
      
        -webkit-animation: orbit5 60s linear infinite; /* Chrome, Safari 5 */
           -moz-animation: orbit5 60s linear infinite; /* Firefox 5-15 */
             -o-animation: orbit5 60s linear infinite; /* Opera 12+ */
                animation: orbit5 60s linear infinite; /* Chrome, Firefox 16+, 
                                                          IE 10+, Safari 5 */
      
        @-webkit-keyframes orbit5 {
          from { -webkit-transform: rotate(240deg) translateX(146px) rotate(-240deg); }
          to   { -webkit-transform: rotate(600deg) translateX(146px) rotate(-600deg); }
        }
        
        @-moz-keyframes orbit5 {
            from { -moz-transform: rotate(240deg) translateX(146px) rotate(-240deg); }
            to   { -moz-transform: rotate(600deg) translateX(146px) rotate(-600deg); }
        }
        
        @-o-keyframes orbit5 {
            from { -o-transform: rotate(240deg) translateX(146px) rotate(-240deg); }
            to   { -o-transform: rotate(600deg) translateX(146px) rotate(-600deg); }
        }
        
        @keyframes orbit5 {
            from { transform: rotate(240deg) translateX(146px) rotate(-240deg); }
            to   { transform: rotate(600deg) translateX(146px) rotate(-600deg); }
        }
      }
}

// ANGLE 300
@media (min-width: 768px) {
    .circle-element-300 {
        position: absolute;
        top: 40%;
        left: 42%;
      
        -webkit-animation: orbit6 60s linear infinite; /* Chrome, Safari 5 */
           -moz-animation: orbit6 60s linear infinite; /* Firefox 5-15 */
             -o-animation: orbit6 60s linear infinite; /* Opera 12+ */
                animation: orbit6 60s linear infinite; /* Chrome, Firefox 16+, 
                                                          IE 10+, Safari 5 */
      
        @-webkit-keyframes orbit6 {
          from { -webkit-transform: rotate(300deg) translateX(217px) rotate(-300deg); }
          to   { -webkit-transform: rotate(660deg) translateX(217px) rotate(-660deg); }
        }
        
        @-moz-keyframes orbit6 {
            from { -moz-transform: rotate(300deg) translateX(217px) rotate(-300deg); }
            to   { -moz-transform: rotate(660deg) translateX(217px) rotate(-660deg); }
        }
        
        @-o-keyframes orbit6 {
            from { -o-transform: rotate(300deg) translateX(217px) rotate(-300deg); }
            to   { -o-transform: rotate(660deg) translateX(217px) rotate(-660deg); }
        }
        
        @keyframes orbit6 {
            from { transform: rotate(300deg) translateX(217px) rotate(-300deg); }
            to   { transform: rotate(660deg) translateX(217px) rotate(-660deg); }
        }
      }
}

@media (min-width: 340px) and (max-width: 767px) {
    .circle-element-300 {
        position: absolute;
        top: 40%;
        left: 39%;
      
        -webkit-animation: orbit6 60s linear infinite; /* Chrome, Safari 5 */
           -moz-animation: orbit6 60s linear infinite; /* Firefox 5-15 */
             -o-animation: orbit6 60s linear infinite; /* Opera 12+ */
                animation: orbit6 60s linear infinite; /* Chrome, Firefox 16+, 
                                                          IE 10+, Safari 5 */
      
        @-webkit-keyframes orbit6 {
          from { -webkit-transform: rotate(300deg) translateX(146px) rotate(-300deg); }
          to   { -webkit-transform: rotate(660deg) translateX(146px) rotate(-660deg); }
        }
        
        @-moz-keyframes orbit6 {
            from { -moz-transform: rotate(300deg) translateX(146px) rotate(-300deg); }
            to   { -moz-transform: rotate(660deg) translateX(146px) rotate(-660deg); }
        }
        
        @-o-keyframes orbit6 {
            from { -o-transform: rotate(300deg) translateX(146px) rotate(-300deg); }
            to   { -o-transform: rotate(660deg) translateX(146px) rotate(-660deg); }
        }
        
        @keyframes orbit6 {
            from { transform: rotate(300deg) translateX(146px) rotate(-300deg); }
            to   { transform: rotate(660deg) translateX(146px) rotate(-660deg); }
        }
      }
}

// END ECOSYSTEM ORBITS

// REMOSENSE CAPSULE 

// background
@media (min-width: 768px) {
    .capsule-background {
        background: transparent url('/assets/img/tbx/remosense_egg/circle_background.svg') no-repeat center center;
    }
}

@media (min-width: 340px) and (max-width: 767px) {
    .capsule-background {
        background: white;
    }
}

// capsule top and bottom

@media (min-width: 340px) and (max-width: 767px) {
    .capsule {
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

// PULSATING ICONS 

.circle {
    border-radius: 50%;
    background-color: deepskyblue;
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
  }

  @keyframes scaleIn {
    from {
      transform: scale(.5, .5);
      opacity: .25;
    }
    to {
      transform: scale(2.5, 2.5);
      opacity: 0;
    }
  }

// SCREENSHOT CAROUSEL FOR DESKTOP VS. MOBILE 

// FOR PATIENTS SECTION

// hr desktop
@media (min-width: 768px) {
    .hr-p-m {
        content: url('/assets/img/tbx/features/ecg-t.png')
    }
}

// hr mobile
@media (min-width: 340px) and (max-width: 767px) {
    .hr-p-m {
        content: url('/assets/img/tbx/features/ecg-p-m.png')
    }
}

// hrv desktop
@media (min-width: 768px) {
    
}

// hrv mobile
@media (min-width: 340px) and (max-width: 767px) {
    
}

// bp desktop
@media (min-width: 768px) {

}

// bp mobile
@media (min-width: 340px) and (max-width: 767px) {
    
}

// oxygenation desktop
@media (min-width: 768px) {

}

// oxygenation mobile
@media (min-width: 340px) and (max-width: 767px) {
    
}


// temperature desktop
@media (min-width: 768px) {

}

// temperature mobile
@media (min-width: 340px) and (max-width: 767px) {
    
}

// ecg desktop
@media (min-width: 768px) {

}

// ecg mobile
@media (min-width: 340px) and (max-width: 767px) {
    
}

// digital stethoscope desktop
@media (min-width: 768px) {

}

// digital stethoscope mobile
@media (min-width: 340px) and (max-width: 767px) {
    
}


// END FOR PATIENTS SECTION

.nopadding {
    padding-right: 4px !important;
    padding-left: 4px !important;
    margin: 0 !important;
 }

 // FEATURES ICONS FOR MOBILE

.icon-feature {
    
    background-repeat: no-repeat;
    background-size: 32px;
    width: 32px;
    height: 32px;
}

.icon-hr {
    background-image: url("/assets/img/tbx/features_icons/hr.svg");
}

.icon-hrv {
    background-image: url("/assets/img/tbx/features_icons/hrv.svg");
}

.icon-bp {
    background-image: url("/assets/img/tbx/features_icons/bp.svg");
}

.icon-bo {
    background-image: url("/assets/img/tbx/features_icons/bo.svg");
}

.icon-bt {
    background-image: url("/assets/img/tbx/features_icons/bt.svg");
    background-size: auto;
    width: auto;
    height: auto;
}

.icon-ecg {
    background-image: url("/assets/img/tbx/features_icons/ecg.svg");
}

.icon-ds {
    background-image: url("/assets/img/tbx/features_icons/ds.svg");
}


// ABOUT US CIRCLE WAVE
.circle-wave {
    width: 400px; 
    top:40%;
}

// FOUNDING MEMBERS PHOTO
@media (min-width: 768px) {
    .founder {
        height: 220px; 
        width: 220px; 
        border-radius: 10px;
     }
}

@media (min-width: 340px) and (max-width: 767px) {
    .founder {
        height: auto; 
        width: 200px; 
        padding-bottom: 5px;
     }
}


// FLOATING BUTTON 
.float-btn{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.open-section {
  display: true;
}

// SCROLL ANIMATION

.scroll-down {
    height: 30px;
    width: 70px;
    border: 2px solid white;
    position: absolute;
    left: 40%;
    bottom: -24px;
    border-radius: 50px;
  }

  .scroll-down::before,
  .scroll-down::after {
    content: "";
    position: absolute;
    top: 69%;
    left: 10%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid white;
    border-bottom: transparent;
    border-left: transparent;
    animation: scroll-down 1.5s ease-in-out infinite;
  }
  
  .scroll-down::before {
    left: 10%;
    animation-delay: 0.3s;
    /* animation: scroll-down 1s ease-in-out infinite; */
  }
  
  @keyframes scroll-down {
    0% {
      /* top:20%; */
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    100% {
      left: 90%;
      opacity: 0;
    }
  }

  // button hover for features
  .hover-color:hover {
    background-color: darken(#0A2841, 2%) !important; 
  }

  // button for scrolling to top of page
  #btnScrollToTop {
      position: fixed;
      right: 20px;
      bottom: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #0f3c61;
      box-shadow: 0 0 10px rgba(0,0,0, 0.25);
      color: white;
      border: none;
      outline: none;
      cursor: pointer; 
      z-index: 99 !important;
  }

  #btnScrollToTop:hover {
    background: white;
    color: #0f3c61;
  }