// 
// user.scss
// Use this to write your custom SCSS
//

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&display=swap');

:root {
    --bs-body-font-family: 'Assistant', sans-serif;
    
}

.ecosystem-background{
    background: transparent url('/assets/img/tbx/ecosystem/arrows.png') no-repeat center center;
}

 
@media (min-width: 768px) {
    .ecosystem-background {
        background: transparent url('/assets/img/tbx/ecosystem/arrows.png') no-repeat center center;
    }
}

@media (min-width: 340px) and (max-width: 767px) {
    .ecosystem-background {
        background: transparent url('/assets/img/tbx/ecosystem/arrows_vertical.png') no-repeat center center;
    }
}
